<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success">New Retrogame</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <a href="#"
         class="list-group-item clearfix"
        *ngFor="let retrogame of retrogames">
        <div class="pull-left">
            <h4 class="list-group-item-heading">{{retrogame.name}}</h4>
            <p class="list-group-item-text">{{retrogame.description}}</p>
        </div>
        <span class="pull-right">
            <img
             [src]="retrogame.imagePath"
             alt={{retrogame.name}} 
             class="img-responsive" 
             style="max-height: 100px;">
          </span>
        </a>
        <app-retrogames-item></app-retrogames-item>
    </div>
</div>